<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.node.server.NodeMapper">

    <resultMap id="nodeResultMap" type="com.test.node.shared.Node">
        <id property="id" column="id" />
        <result property="ip" column="ip" />
        <result property="parentId" column="parent_id" />
        <result property="port" column="port" />
    </resultMap>

    <select id="getAllNodes" resultMap="nodeResultMap">
        select id, ip, port, parent_id
        from nodes
    </select>

    <select id="getNode" parameterType="int" resultMap="nodeResultMap">
        select id, ip, port, parent_id
        from nodes
        where id = #{id}
    </select>

    <select id="getChildren" parameterType="int" resultMap="nodeResultMap">
        select id, ip, port, parent_id
        from nodes
        where parent_id =
        #{parentId}
    </select>

    <select id="getRootNodes" resultMap="nodeResultMap">
        select id, ip, port, parent_id
        from nodes
        where parent_id is null
    </select>


    <insert id="createNode" parameterType="com.test.node.shared.Node" useGeneratedKeys="true" keyProperty="id">
        insert into nodes
        (ip, port, parent_id)
        values(#{ip}, #{port}, #{parentId})
    </insert>

    <update id="updateNode" parameterType="com.test.node.shared.Node">
        update nodes
        set ip = #{ip}, port = #{port}, parent_id = #{parentId}
        where id =
        #{id}
    </update>

    <delete id="deleteNode" parameterType="com.test.node.shared.Node">
        delete from nodes
        where id = #{id}
    </delete>

</mapper>